/* Animations */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.effect-left {
    animation: slideInFromLeft 500ms ease-in 1s
}

.effect-right {
    animation: slideInFromRight 500ms ease-in 1s
}