.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

.background {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 10px;
}

.grid {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:hover {
  transform: scale(0.98);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  text-align: center;
  vertical-align: top;
}

.border {
  border-bottom: 4px solid var(--dark);
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
