.u-section-1 {
  background-image: url("images/240803249_242360317892088_7700022631489886352_n.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  animation-duration: 2000ms;
  text-transform: none;
  font-size: 6rem;
  font-family: Noir_medium;
  margin: 243px 61px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 0px rgba(0,0,0,1);
  font-size: 1rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Noir_regular;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  animation-duration: 2000ms;
  width: 486px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 142px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 117px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Noir_regular;
    animation-duration: 2000ms;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 265px;
}

.u-section-2 .u-text-1 {
  font-family: Noir_medium;
  text-shadow: 2px 2px 0px rgba(0,0,0,1);
  font-size: 2.25rem;
  font-weight: normal;
  margin: 35px 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 47px;
    margin-bottom: 46px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  font-family: Noir_medium;
  animation-duration: 2000ms;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
  width: 570px;
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 806px;
  margin: 21px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 764px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 481px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 867px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  font-family: Roboto, sans-serif;
  line-height: 52.8px;
  font-size: 3rem;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 570px;
  animation-duration: 1000ms;
  margin: 123px 0 60px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-4 .u-image-1 {
    height: 540px;
    margin-top: 623px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-4 .u-text-1 {
    font-family: Noir_medium;
    line-height: 1;
    animation-duration: 2000ms;
    font-size: 2.25rem;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: 408px;
    margin-bottom: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 861px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1441px;
  animation-duration: 2000ms;
  margin-top: -636px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: -179px auto 0 9px;
}

.u-section-5 .u-text-1 {
  font-family: Noir_medium;
  background-image: none;
  line-height: 1;
  font-size: 3rem;
  animation-duration: 2000ms;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  margin: 18px 200px 0 24px;
}

.u-section-5 .u-image-2 {
  width: 555px;
  height: 555px;
  animation-duration: 2000ms;
  margin: 304px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 805px;
  animation-duration: 2000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 570px;
  height: 570px;
  margin: 29px auto 0 -117px;
}

.u-section-5 .u-text-2 {
  font-family: Noir_medium;
  background-image: none;
  line-height: 1;
  font-size: 3rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  width: 403px;
  margin: 21px auto 0;
}

.u-section-5 .u-image-4 {
  width: 418px;
  height: 418px;
  margin-top: -126px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-5 {
  height: 340px;
  margin-top: 704px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  background-image: none;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  font-family: Roboto, sans-serif;
  line-height: 52.8px;
  font-size: 3rem;
}

.u-section-5 .u-image-6 {
  width: 407px;
  height: 407px;
  animation-duration: 2000ms;
  margin: 20px 0 60px auto;
}

.u-section-5 .u-text-4 {
  background-image: none;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  font-family: Roboto, sans-serif;
  line-height: 52.8px;
  font-size: 3rem;
}

.u-section-5 .u-text-5 {
  background-image: none;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  font-family: Roboto, sans-serif;
  line-height: 52.8px;
  font-size: 3rem;
}

.u-section-5 .u-image-7 {
  width: 384px;
  height: 384px;
  margin: -443px 0 0 auto;
}

.u-section-5 .u-image-8 {
  width: 570px;
  height: 570px;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1286px;
  }

  .u-section-5 .u-image-1 {
    height: 388px;
    width: 388px;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 517px;
    height: 517px;
    margin-top: 243px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-5 .u-image-3 {
    height: auto;
    margin-top: 88px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    animation-duration: 2000ms;
    width: auto;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 28px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1079px;
  }

  .u-section-5 .u-image-1 {
    height: auto;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: auto;
    margin-top: 212px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-5 .u-image-3 {
    height: 414px;
    width: 632px;
    object-position: 50% 0%;
    margin-top: 32px;
    margin-right: -746px;
    margin-left: 451px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 378px;
    margin-left: 0;
  }

  .u-section-5 .u-image-7 {
    margin-bottom: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: NaNpx;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 384px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 354px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-image-6 {
    width: 375px;
    height: 375px;
    margin: 165px auto 0 25px;
  }

  .u-section-5 .u-text-4 {
    font-family: Noir_medium;
    line-height: 1;
    animation-duration: 2000ms;
    width: auto;
    margin: -448px 0 0;
  }

  .u-section-5 .u-text-5 {
    font-family: Noir_medium;
    line-height: 1;
    animation-duration: 2000ms;
    width: auto;
    margin: -1328px 0 0;
  }

  .u-section-5 .u-image-7 {
    margin-top: 34px;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-8 {
    height: 490px;
    width: 490px;
    animation-duration: 2000ms;
    margin: 1307px auto 56px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-5 .u-image-2 {
    height: NaNpx;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 223px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-4 {
    height: 340px;
    margin-top: 105px;
    margin-bottom: 0;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    animation-duration: 2000ms;
    margin-top: 116px;
  }

  .u-section-5 .u-text-3 {
    font-family: Noir_medium;
    line-height: 1;
    animation-duration: 2000ms;
    font-size: 2.25rem;
    width: auto;
    margin: -387px 0 0;
  }

  .u-section-5 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -413px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-7 {
    height: 340px;
    margin-top: -898px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-8 {
    height: 340px;
    margin-top: 934px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Noir_medium;
  animation-duration: 2000ms;
  margin: 38px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 982px;
  margin: 35px auto 0 -175px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 596px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 130px 30px 30px;
}

.u-section-6 .u-image-1 {
  min-height: 596px;
  background-image: url("images/ScreenShot2021-08-04at5.35.17PM.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  margin: 20px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    animation-duration: 3000ms;
    width: auto;
    margin-top: 42px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-left: -251px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 11px -15px 0 15px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 32px;
    margin-right: -23px;
    margin-left: 23px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 8px;
    margin-left: -163px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 104px;
  }

  .u-section-6 .u-image-1 {
    min-height: 521px;
  }

  .u-section-6 .u-text-2 {
    margin: 8px -38px 60px 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 67px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -202px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 525px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-6 .u-image-1 {
    min-height: 429px;
  }

  .u-section-6 .u-text-2 {
    margin: 31px 11px 51px -11px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 795px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 795px;
  background-image: url("images/ScreenShot2021-08-04at5.35.17PM.png");
  background-position: 50% 50%;
  animation-duration: 2000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 795px;
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px 30px 40px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  font-family: Noir_medium;
  animation-duration: 2000ms;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 613px;
  }

  .u-section-7 .u-image-1 {
    min-height: 656px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 656px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 470px;
  }

  .u-section-7 .u-image-1 {
    min-height: 502px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 805px;
  }

  .u-section-7 .u-image-1 {
    min-height: 779px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 544px;
  }

  .u-section-7 .u-image-1 {
    min-height: 490px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-8 {
  background-image: none;
  min-height: 795px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 795px;
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px 30px 40px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  font-family: Noir_medium;
  animation-duration: 2000ms;
  text-shadow: 2px 2px 0px rgba(167,211,231,1);
  margin: 0;
}

.u-section-8 .u-image-1 {
  min-height: 795px;
  background-image: url("images/ScreenShot2021-08-04at5.35.17PM.png");
  background-position: 50% 50%;
  animation-duration: 2000ms;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 656px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-8 .u-image-1 {
    min-height: 656px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 502px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 853px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -125px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 753px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 574px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -236px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 474px;
  }
}@font-face {
  font-family: 'Noir_medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Noir_medium.otf);
}@font-face {
  font-family: 'Noir_regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Noir_regular.otf);
}