@import url('https://fonts.cdnfonts.com/css/noir');

body {
  font-family: "Noir", sans-serif;
  font-size: 18px/23px;
  color: #ffffff;
}

#mainlbl {
  vertical-align: middle;
  text-align: center;
  color: #efecec;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px black, 1px 1px 10px white;
  font-size: 120px;
  line-height: 110px;
  margin-top: 60px;
  font-weight: 500;
}

#sublbl {
  text-shadow: 1px 1px 10px black, 1px 1px 10px black;
  text-align: center;
  display: block;
  margin: auto;
  color: #efecec;
  font-size: 30px;
  line-height: 40px;
}

.googlebutton {
  width: 100%;
}

.googlebutton > div {
  margin: 0 auto;
}

.seldivs {
  margin-bottom: 30px;
}

.selheaders {
  text-shadow: 1px 1px 10px black, 1px 1px 10px black;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 35px;
  line-height: 35px;
}

.sels {
  font: 18px/23px "Noir", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  width: 300px;
  height: 50px;
}

.submit {
  font: 18px/23px "Noir", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  opacity: 0.9;
}

.loader {
  text-align: center;
  display: block;
  margin: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid black; /* Blue */
  border-radius: 50%;
  width: 125px;
  height: 125px;
  animation: spin 500ms linear infinite;
}

.space {
  height: 250px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  #mainlbl {
    vertical-align: middle;
    text-align: center;
    color: #efecec;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 70px;
    margin-top: 60px;
    font-weight: 500;
  }
}
