.container {
  text-align: center;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.container h1 {
  color: white;
}

.title {
  margin-top: 60px;
}

.title h1 {
  color: #efecec;
  text-shadow: 1px 1px 10px black, 1px 1px 10px white;
  font-size: 120px;
  line-height: 110px;
  font-weight: 500;
}

.loginbutton {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: 2px white solid;
  font: inherit;
  height: 80px;
  padding: 5px;
}

.loginbutton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}

.loginbutton h1 {
  color: white;
  text-shadow: 1px 1px 10px black, 1px 1px 10px white;
  display: inline-block;
  vertical-align: 50%;
}

.loginbutton img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}


.loader {
  margin: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid black; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 500ms linear infinite;
}
.space {
  margin-top: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .title h1 {
    font-size: 120px;
    line-height: 110px;
    font-weight: 500;
    font-size: 80px;
  }
}
