@media only screen and (max-width: 767px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: none;
  }

  .navbar {
    background-color: var(--dark);
    position: relative;
    height: auto !important;
  }

  .navbar ul {
    display: block !important;
  }

  .container {
    margin: inherit !important;
    overflow: inherit !important;
    padding: inherit !important;
  }

  .flex {
    display: inherit !important;
    justify-content: inherit !important;
    align-items: inherit !important;
    height: inherit !important;
  }

  .navbar .flex {
    justify-content: inherit !important;
  }

  .navbar a {
    cursor: pointer;
    color: var(--light);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }

  .navbar a:hover {
    color: none !important;
    border-bottom: none !important;
  }

  .mobile {
    display: block;
  }

  .dropdown-content {
    margin-top: 0px !important;
  }
}
