.containers {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.flexs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  background-color: var(--dark);
  height: 70px;
  font-size: 20px;
}

.navbar .flexs {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar button, a {
  background-color: transparent;
  border: none;
  font: inherit;
  font-size: 20px;
  color: var(--light);
  margin: 0 20px;
  border-bottom: 2px var(--dark) solid;
}

.navbar button:hover, a:hover {
  color: var(--mid);
  border-bottom: 2px var(--light) solid;
}

.mobile {
  display: none;
}