/* utilities */

:root {
  --dark: #435772;
  --mid: #b8b8b8;
  --light: #fcf3eb;
}

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: brown;
  color: red;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* Backgrounds & Colored Btns */

.bg-primary,
.btn-primary {
  background-color: var(--light);
  color: black;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--dark);
  color: white;
}

.bg-tertiary,
.btn-tertiary {
  background-color: var(--light);
  color: var(--dark);
}

.bg-dark,
.btn-dark {
  background-color: var(--dark);
  color: white;
}

.bg-light,
.btn-light {
  background-color: darkblue;
  color: lightcyan;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: white;
}

/* Text Sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
  vertical-align: top;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
